html {

	position: relative;
}

body {
	margin-bottom: 100px;
}


.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ffbf80;
    color: white;
    text-align: center;
    padding-top: 10px;
}

